.cards-container {
    background-color: var(--light-blue);
    min-height: 40vh;
    min-width: 80vw;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.card {
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 5px solid var(--red);
    cursor: pointer;
}

.number {
    color: var(--grey);
    margin: 0px 20px;
}

.name {
    color: var(--green);
    flex-grow: 1;
}

img {
    max-height: 96px;
    margin: 0px 8px;
}

