@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

:root {
  --beige: #FCEEC8;
  --blue: #4fbeed;
  --light-blue: #9EDEF9; 
  --red: #B74555;
  --green: rgba(77, 214, 88, 0.976);
  --grey: rgb(204, 194, 194);
  --pink: rgb(249, 179, 192);
}

*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Pangolin', cursive;
  font-size: 35px;
  background-color: var(--beige);
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 30px 0;
}
